/**
wl-slider.css
Стили отображения виджета WLSlider
*/

.flex {
    display: flex;
}

/* основной контейнер слайдера*/
.wl-slider {
    align-items: center;
    width: 100%;
    height: 100%;
}

/* контент слайдера */
.wl-slider_content {
    height: 500px;
    width: 100%;
}

/* слайд отображения контента */
.wl-slider_slide {
    width: 100%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

/* Control Button */
.wl-slider_control {
    width: 50px;
    text-align: center;
    position: absolute;
    z-index: 100;
    font-size: 38px;
    color: #333e48;
    display: flex;
    justify-content: center;
    height: auto;
}

.wl-slider_control:hover {
    background: #85c1b275;
}

.wl-slider_control > img {
    padding: 10px;
}

.wl-slider_control:hover {
    color: #faf3f3;
    cursor: pointer;
}

.wl-slider_control.previous {
    left: 14px;
}

.wl-slider_control.next {
    right: 14px;
}
/* End Control Button */

/* Модификаторы отображения слайда */
.wl-slider .visible {
    opacity: 1;
    transition: opacity 1s ease;
}

.wl-slider .invisible {
    transition: all 1s ease;
    opacity: 0;
    position: absolute;
}
/* End Модификаторы отображения слайда */

/* Adaptive screen */
@media(max-width: 1024px) {
    .wl-slider {
        flex-direction: column;
        justify-content: center;
    }

    .wl-slider_content {
        height: auto;
        width: 532px;
    }

    .wl-slider_slide {
        height: 370px;
    }
}

@media(max-width: 768px) {
    .wl-slider {
        flex-direction: column;
        justify-content: center;
    }

    .wl-slider_content {
        height: auto;
        width: 400px;
    }

    .wl-slider_slide {
        height: 200px;
    }
}

@media(max-width: 480px) {
    .wl-slider {
        flex-direction: column;
        justify-content: center;
    }

    .wl-slider_content {
        height: auto;
        width: 250px;
    }

    .wl-slider_slide {
        height: 104px;
    }
}

@media(max-width: 320px) {
    .wl-slider {
        flex-direction: column;
        justify-content: center;
    }

    .wl-slider_content {
        height: auto;
        width: 166px;
    }

    .wl-slider_slide {
        height: 54px;
    }
}
/* End Adaptive screen */